.user_info{
	display: inline-block;
	margin-left: 10px;
}

.col-md-3{
	display: inline-block;
	
}



.user_img{
	margin-top: -30px;
	width: 60px;
	height: 60px;
}

.apply_project p, .ing_project p, .project p {
	display: inline-block;
	font-size: 13px;
}

#apply, #ing, #ok {
	float: right;
}

button .btn {
	margin-top: 20px;
}

table th {
	width: 20%;
	font-size: 14px;
	text-align: center;
}

table td {
	font-size: 13px;
}

table {
	display: inline-block;
	margin-top: 50px;
}

#table2 {
	margin-right: 4%;
	margin-left: 4%;
}
