#item1 {
	padding-left: 20px;
}

.number_container {
	margin-bottom: 70px;
}

.number > h2 {
	text-align: center;
	display: inline-block;
	width: 32%;
	
}

.number > h3 {
	text-align: center;
	display: inline-block;
	width: 32%;
}

.useway {
	margin-top: 70px;
}

.useway1, .useway2, .useway3 {
	display: inline-block;
	width: 32%;
	text-align: center;
}

.use1 img, .use2 img, .use3 img {
	width: 230px;
	height: 230px;
}

.use1_content > p, .use2_content > p, .use3_content > p {
	margin-top: 25px;
	font-size: 14px;
}

.useway_container {
	margin-top: 70px;
	margin-bottom: 70px;
}

.graph_container h3 {
	margin-top: 70px;
	text-align: center;
}

.graph_content p {
	text-align: center;
	margin-bottom: 50px;
}

.graph_container {
	margin-bottom: 100px;
}

.title {
	text-align: center;
	margin-top: 70px;
}

.project_content {
	width: 31.2%;
	text-align: center;
	margin-top: 50px;
	display: inline-block;
	border-style: solid;
	border-color: #bcbcbc;
	border-width: 1px;
	border-radius: 10px;
	margin-left: 12px;
}

.project_title h5 {
	text-overflow: hidden;
	height: 23px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.project_content_detail {
	text-overflow: hidden;
	width: 310px;
	height: 143px;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 13px;
}

.project_money, .project_time, .project_support {
	display: inline-block;
}

.project_title2 img {
	width: 20px;
}

.project_money p, .project_time p, .project_support p {
	font-size: 13px;
	display: inline-block;
}

.project_content_detail p {
	font-size: 14px;
}

.project_time {
	margin-left: 50px;
	margin-right: 50px;
}

.p_title {
	margin-top: 70px;
	text-align: center;
}

.popular_project  {
	margin-bottom: 70px;
}


