.insert_container {
	margin-top: 150px;
	padding-left: 15px;
}

h3 {
	display: inline-block;
}

.project_insert {
	display: inline-block;
	float: right;
}

.container_content {
	border: dotted 1px;
}

#col1, #col10 {
	display: inline-block;
}

.select_category, .form-group {
	display: inline-block;
}

select {
	width: 85px;
}

#form_subject {
	width: 89%;
	padding-left: 20px;
}

.project_content {
	padding-left: 20px;
	padding-top: 10px;
}

.money, .money_input {
	display: inline-block;
}

.time, .time_input {
	display: inline-block;
}

#form2 {
	padding-left: 10px;
}

#control {
	display: inline-block;
}

#won, #day {
	display: inline-block;
}

.start_input, .start_select {
	display: inline-block;
}

.start_select {
	padding-left: 20px;
}

.num_title, .people {
	display: inline-block;
}

.people {
	padding-left: 90px;
}

#col2 {
	margin-left: 18%;
	display: inline-block;
}

#col2_2, #col2_3 {
	display: inline-block;
}

#col2_2 {
	margin-left: 5%;
	margin-right: 5%;
}

.insert_btn {
	text-align: center;
	margin-top: 50px;
}

