.user_bt{
	padding-top: 40px;
	float: right;
}

.main{
	margin-top: 100px;
}

.user_info{
	display: inline-block;
	margin-left: 10px;
}

.user_img{
	margin-top: -30px;
	width: 60px;
	height: 60px;
}

