<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.klp.pf.dto.PF_UserDto" alias="PF_UserDto" />
		<typeAlias type="com.klp.pf.dto.PF_BoardDto" alias="PF_BoardDto"/>
	</typeAliases>

	<mappers>
		<mapper resource="/sqls/PF_Usermapper.xml"/>
		<mapper resource="/sqls/PF_BoardMapper.xml"/>
		
	</mappers>
	
	
	

</configuration>
