<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="pf_applicant">

	<resultMap type="PF_BoardDto" id="PF_BoardDto">
		<result column="board_no" 		 property="board_no" />
		<result column="board_title" 	 property="board_title" />
		<result column="board_content"   property="board_content" />
		<result column="project_money"	 property="project_money" />
		<result column="project_term" 	 property="project_term" />
		<result column="project_start_day" property="project_start_day" />
		<result column="recruit_date" 	 property="recruit_date" />
		<result column="recruit_personnel" property="recruit_personnel" />
		<result column="project_category" property="project_category" />
		<result column="project_type" 	 property="project_type" />
		<result column="board_file" 	 property="board_file" />
		<result column="project_state"  property="project_state" />
		<result column="board_regdate"  property="board_regdate" />
		<result column="user_no" 		property="user_no" />
	</resultMap>
	
 
	<!-- 파트너스 - 지원내역 (내가 어느 프로젝트에 지원했는지 보여줌) -->	
<!-- 	<select id="selectAll_partners" resultType="PF_ApplicantDto" parameterType="String"> -->
	<select id="selectAll_partners" resultMap="PF_BoardDto">
<!-- 		SELECT BOARD_TITLE, BOARD_CONTENT, PROJECT_MONEY, PROJECT_TERM, BOARD_REGDATE, RECRUIT_DATE,  FROM PF_BOARD B INNER JOIN PF_APPLICANT A ON B.BOARD_NO=A.BOARD_NO WHERE B.USER_NO=#{user_no} -->
<!-- 		SELECT B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTENT, B.USER_NO, B.PROJECT_MONEY, B.PROJECT_TERM, B.BOARD_REGDATE, B.RECRUIT_DATE, (SELECT COUNT(*) FROM PF_APPLICANT WHERE BOARD_NO=#{board_no} AND USER_NO=#{user_no}) APPLY_CNT FROM PF_BOARD B INNER JOIN PF_APPLICANT A ON B.BOARD_NO=A.BOARD_NO WHERE B.BOARD_NO=#{board_no}; -->
		SELECT * FROM PF_BOARD B INNER JOIN PF_APPLICANT A ON B.BOARD_NO = A.BOARD_NO WHERE APPLICANT_STATE='지원함' AND A.USER_NO=#{user_no} 
	</select>
	
	<!-- 클라이언트 (내가 등록한 프로젝트에 지원한 사람들을 보여줌) -->
<!-- 	SELECT * FROM PF_USER U INNER JOIN PF_BOARD B ON U.USER_NO=B.USER_NO WHERE BOARD_NO IN (SELECT BOARD_NO FROM PF_BOARD WHERE USER_NO=#{user_no}) -->

	<!-- 지원하기 -->
	<select id="applyProject" resultType="PF_ApplicantDto">
		INSERT INTO PF_APPLICANT VALUES (PF_APPLICANT_SEQ.NEXTVAL, #{board_no}, #{user_no}, '지원신청')
	</select>
	
	<select id="applyCount" resultType="int">
		SELECT COUNT(*) AS APPLY_CNT FROM PF_APPLICANT A INNER JOIN PF_BOARD B ON A.BOARD_NO=B.BOARD_NO WHERE B.BOARD_NO=#{board_no}
	</select>
	
	<!-- 지원자 모집 중에 지원한 파트너스 목록 -->
	<select id="recruitmentList" parameterType="int" resultType="PF_ApplicantDto">
		SELECT a.APPLICANT_NO, a.BOARD_NO, a.USER_NO, a.APPLICANT_STATE, b.USER_ID, b.USER_EMAIL, b.USER_TYPE 
    	FROM PF_APPLICANT a LEFT OUTER JOIN PF_USER b ON (a.USER_NO = b.USER_NO)
    	WHERE BOARD_NO = #{board_no}
	</select>

	<update id="selectionPartners" parameterType="int">
		UPDATE PF_APPLICANT SET APPLICANT_STATE = '모집완료' WHERE APPLICANT_NO = #{applicant_no}
	</update>
	
	<select id="recruitCount" parameterType="int" resultType="int">
		SELECT COUNT(*) AS APPLY_CNT FROM PF_APPLICANT WHERE BOARD_NO = #{board_no} AND APPLICANT_STATE = '모집완료'	
	</select>
</mapper>