<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pf_user">

	<select id="selectUser" resultType="PF_UserDto">
		SELECT * FROM PF_USER
		WHERE USER_ID = #{user_id}
	</select>
	<select id="login" resultType="PF_UserDto" parameterType="map">
		SELECT *
 		FROM PF_USER 
 		WHERE USER_ID=#{user_id} AND USER_PW=#{user_pw}
	</select>
	
	<!-- 프로젝트 뷰에서 글을 올린 유저의 아이디 값 가져오기 -->
	<select id="MessageUser" resultType="PF_UserDto">
		SELECT * FROM PF_USER
		WHERE USER_NO = #{user_no}
	</select>
	
	<insert id="insertUser" parameterType="PF_UserDto">
	<!-- 시퀀스를 먼저 생성후 삽입한다 > 이렇게 하면 시퀀스 번호를 전달 받을수 있다. -->
	<selectKey keyProperty="user_no" resultType="int"
		order="BEFORE">
		SELECT PF_USER_SEQ.NEXTVAL FROM DUAL<!-- anser : DUAL = 가상 테이블 -->
	</selectKey>
		INSERT INTO PF_USER
		VALUES(#{user_no}, #{user_id}, #{user_pw}, #{user_email}, #{user_type}, NULL, 'FALSE', 'FALSE', NULL, NULL, NULL, NULL, NULL)
	</insert>
	
	<select id="setEmail" parameterType="String">
		UPDATE PF_USER
		SET USER_EMAIL_CHECK = 'TRUE' 
		WHERE USER_EMAIL = #{user_email}
	</select>
	
	<update id="updateUser_type" parameterType="PF_UserDto">
		UPDATE PF_USER
		SET USER_UPTYPE = #{user_uptype}
		WHERE USER_NO = #{user_no}
	</update>
 	<update id="deleteUser" parameterType="PF_UserDto">
 		UPDATE PF_USER
 		SET USER_ID = '${user_id}_${user_no}_del', USER_EMAIL = '${user_email}_${user_no}_del'
 		WHERE USER_NO = #{user_no}
 	</update>
 	<update id="updateUser_Info" parameterType="PF_UserDto">
 		UPDATE PF_USER
		SET USER_IMG = #{user_img}, USER_NAME = #{user_name}, USER_SEX = #{user_sex}, USER_BIRTH = #{user_birth}, USER_ADDR = #{user_addr}
		WHERE USER_NO = #{user_no}
 	</update>
	<!-- 유저 목록 뽑기 -->
	<select id="userlist" parameterType="String" resultType="PF_UserDto">
		SELECT * FROM PF_USER WHERE USER_TYPE=#{user_type}
	</select>

	<select id="cast" parameterType="int" resultType="PF_UserDto">
		SELECT * FROM PF_USER
		WHERE USER_NO = #{user_no}
	</select>
	
	<select id="PartnersList_client" resultType="PF_UserDto">
		SELECT * FROM PF_USER U INNER JOIN PF_BOARD B ON U.USER_NO=B.USER_NO WHERE BOARD_NO IN (SELECT BOARD_NO FROM PF_BOARD WHERE USER_NO=#{user_no})
	</select>
</mapper>